<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tpcreative.co.qrscanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:usesCleartextTraffic="true"
        android:name=".common.services.QRScannerApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeSlide">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.review.ReviewActivity"
            android:label="@string/review" />

        <receiver android:name=".common.services.QRScannerReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDGdrfAVeZEceHLWJH7v_2-9rVwHLgg8cw" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="15db64b7a0d9e4cba1e5852f23b0305152060773" />

        <service android:name=".common.services.QRScannerService" />

        <activity
            android:name=".ui.help.HelpActivity"
            android:label="@string/help" />
        <activity
            android:name=".ui.filecolor.ChangeFileColorActivity"
            android:label="@string/change_theme" />
        <activity android:name=".ui.pro.ProVersionActivity" />
        <activity
            android:name=".ui.create.EmailFragment"
            android:label="@string/email" />
        <activity
            android:name=".ui.create.MessageFragment"
            android:label="@string/message" />
        <activity
            android:name=".ui.create.LocationFragment"
            android:label="@string/location" />
        <activity
            android:name=".ui.create.EventFragment"
            android:label="@string/event" />
        <activity
            android:name=".ui.create.ContactFragment"
            android:label="@string/contact" />
        <activity
            android:name=".ui.create.TelephoneFragment"
            android:label="@string/telephone" />
        <activity
            android:name=".ui.create.TextFragment"
            android:label="@string/text" />
        <activity
            android:name=".ui.create.WifiFragment"
            android:label="@string/wifi" />
        <activity
            android:name=".ui.create.UrlFragment"
            android:label="@string/url" />
        <activity android:name=".ui.scannerresult.ScannerResultFragment" />
    </application>

</manifest>